.container{
    max-width: 40%;
    margin: auto;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.title{
    text-align: center;
    color: var(--color-accent);
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;  
  margin-bottom: 10px;
  justify-content: center;
}

.redirect_text{
    text-align: center;
    margin-top: 50px;
    font-weight: 600;
    color: var(--color-dark);
}

.redirect_link{
    text-align: center;
    margin-top: 50px;
    font-weight: 600;
    color: var(--color-dark);
    text-decoration: underline;
}

@media (max-width: 768px) {
    .container{
        max-width: 70%;
    }
}

