.profileContainer {
  position: relative; /* necesario para que el popup se posicione respecto a este contenedor */
  display: inline-block;
}

.profilePic img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.popupMenu {
  position: absolute;
  top: 50px; /* ajusta según el tamaño de la imagen */
  right: 0; /* alineado a la derecha de la imagen */
  background-color: var(--color-primary);
  opacity: 0.85;
  color: var(--color-light);
  padding: 10px;
  border-radius: 5px;
  min-width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
  z-index: 100;
}

.popupMenu button {
  background: none;
  border: none;
  color: var(--color-light);
  text-align: center;
  cursor: pointer;
  padding: 10px 0;
}

.popupMenu button:hover {
  opacity: 0.8;
}
