/* ===============================
  Variables de identidad RunPath
================================== */

:root {
  --color-primary: #007AFF;
  --color-secondary: #2ECC71;
  --color-accent: #FF8000;
  --color-light: #F9F9F9;
  --color-dark: #1C1C1E;

  --font-family: 'Montserrat', sans-serif;

  --font-size-h1: 2.5rem;
  --font-size-h2: 2rem;
  --font-size-h3: 1.5rem;
  --font-size-body: 1rem;
  --font-size-small: 0.875rem;
}


/* ===============================
  Reset básico
================================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: var(--font-family);
  background: var(--color-light);
}

a {
  text-decoration: none;
  color: inherit;
}


ul {
  list-style: none;
}


